	
    <table
		width="100%"
		border="0"
		cellspacing="0"
		class="em_full_wrap"
		align="center"
		bgcolor="#F8FBFE"
		style="
			*background-image: url('https://homify-bc.s3.amazonaws.com/realmax-bg-arrow.svg');
			background-position: center 350px;
			background-size: contain;
			background-repeat: no-repeat;
		"
	>
		<tr>
			<td
				style="padding-top: 60px; padding-bottom: 212px"
				align="center"
				valign="top"
				class="em_aside5"
			>
				<table
					align="center"
					width="600"
					border="0"
					cellspacing="0"
					cellpadding="0"
					class="em_main_table border_mobile"
					style="width: 500px; table-layout: fixed"
				>
					<tr>
						<td>
							<img
								style="margin-bottom: 20px"
								
								src="https://ecommerce-mini.netlify.app/static/media/logo.ca52ca4c.png"
								alt=""
							/>
						</td>
					</tr>
					<tr>
						<td
							style="
								border-top-right-radius: 20px;
								border-top-left-radius: 20px;
								height: 5px;
								background: #3882e0;
							"
						></td>
					</tr>
					<tr>
						<td
							align="center"
							valign="top"
							style="padding: 5px 45px; background-color: #ffffff"
						>
							<table
								width="100%"
								border="0"
								cellspacing="0"
								cellpadding="0"
								align="center"
							>
								<tr>
									<td height="45" style="height: 45px" class="em_h20">
										&nbsp;
									</td>
								</tr>
								<tr>
									<td
										class="em_blue em_font_22"
										align="left"
										valign="top"
										style="
											font-family: 'Circular Std', Avenir, Helvetica, Arial,
												sans-serif;
											font-size: 18px;
											line-height: 29px;
											color: black;
											font-weight: bold;
										"
									>
										Hello {{ first_name }},
									</td>
								</tr>
								<tr>
									<td
										height="14"
										style="height: 14px; font-size: 0px; line-height: 0px"
									>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td
										align="justify"
										valign="top"
										style="
											font-family: 'Circular Std', Avenir, Helvetica, Arial,
												sans-serif;
											font-size: 16px;
											line-height: 36px;
											color: black;
										"
									>
										Thank you for registering on Etsea! <br />
										We are glad to have you as a customer. 
										With us, there's an assurance of buying discounted products, 
										make flexible payment and earn extra income. <br />
				
										Kindly confirm your email address by clicking on the button below <br/>
									
									</td>
								</tr>
								<tr>
									<td height="10" style="height: 10px" class="em_h20">
										&nbsp;
									</td>
								</tr>
								<tr>
									<td height="10" style="height: 10px" class="em_h20">
										&nbsp;
									</td>
								</tr>
								<tr>
									<td align="start" valign="top">
										<table
											width="250"
											style="width: 250px"
											border="0"
											cellspacing="0"
											cellpadding="0"
											align="start"
										>
											<tr>
												<td
													class=""
													height="42"
													align="center"
													valign="middle"
													style="
														font-family: 'Circular Std', Avenir, Helvetica,
															Arial, sans-serif;
														font-size: 16px;
														color: #ffffff;
														background-image: linear-gradient(
															138deg,
															#65a0e8,
															#3882e0
														);
														background: #3882e0;
														font-weight: bold;
														height: 42px;
														border-radius: 500px;
													"
												>
													<a	href="{{ verification_url }}"
														target="_blank"
														style="
															text-decoration: none;
															color: #ffffff;
															line-height: 42px;
															display: block;
															font-size: 13px;
														"
														>Confirm Email address</a
													>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td height="5" style="height: 10px" class="em_h20">&nbsp;</td>
								</tr>
								<tr>
									<td height="5" style="height: 10px" class="em_h20">&nbsp;</td>
								</tr>
								<tr>
									<td
										class="em_grey"
										align="start"
										valign="top"
										style="
											font-family: Arial, sans-serif;
											font-size: 10px;
											font-style: italic;
											line-height: 26px;
										"
									>
										Incase you have any questions, please feel free to call our 
										customer support via +2347084912048 (At your service 247) <br />
										<br />
										We are Bigger and Better. <br />

										Warm Regards,<br />
										Etsea Team
									</td>
								</tr>
								<tr>
									<td height="45" style="height: 45px" class="em_h20">
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td
							style="
								border-bottom-right-radius: 20px;
								border-bottom-left-radius: 20px;
								height: 35px;
								background: #f5f5f5;
							"
						></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

